/* .welcomeMessage{
  background-color: aqua;
  border: 2px;
  max-width: 200px;
}
.loginMessage{
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  border: 2px;
  max-width: 200px;
} */

/*



for counter program css code */
/* .counter-container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.count-display{
  font-size: 5em;
  margin-top:0;
  margin-bottom: 20px;
}
.counter-button{
  padding: 10px;
  margin: 3px;
  background-color: hsl(208, 18%, 41%);
  color: aliceblue;
  font-weight: bold;
  border-radius: 30px;
  border: none;
}
.counter-button:hover{
  background-color: aliceblue;
  color: hsl(208, 18%, 41%);
} */

/*



css code for color picker
*/
/* body{
  font-family: Arial, Helvetica, sans-serif;
}
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 50px;
  font-size: 3rem;
}
.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0,0%,80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;

}
.color-display p{
  color: hsl(0,0%,20%);
  font-size: 2rem;
  text-align: center;
}
label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 4px;
  border-radius: 10px;
  border: 3px solid hsl(0,0%,80%);

} */




 /* css code for digital clock */
/*body{
  background-image: url(./assets/anime-moon-landscape.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  margin:0;


  
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.clock{
backdrop-filter: blur(5px);
}
.clock-container{
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow:3px 2px 4px hwb(0 100% 0% / 0.957)
} */

/*  
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}
.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 50px;
  background-color: bisque;
  padding: 30px;
}
.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(60, 1%, 28%);
  text-shadow: 2px 2px 2px rgb(251, 251, 251);
}
.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(2, 42, 76);
  background-color: hsl(240, 55%, 73%);
  transition: background-color 0.5s ease;


}
.start-button:hover{
  background-color: rgb(2, 42, 76);
  color: hsl(240, 55%, 73%);
}
.stop-button:hover{
  background-color: rgb(2, 42, 76);
  color: hsl(240, 55%, 73%);
}
.reset-button:hover{
  background-color: rgb(2, 42, 76);
  color: hsl(240, 55%, 73%);
} */